Starter-bootstrap

A password reset was triggered at starter-bootstrap for your account.  Please click the below link to set a new password for your account.
If you did not request a password reset, just ignore this email.

= link_to "password reset", new_password_url(:token => @token)
